<div id="<%= dom_id career %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= career.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">About Us:</strong>
    <%= career.about_us %>
  </div>
  <div>
    <strong class="block font-medium mb-1">About The Role:</strong>
    <%= career.about_role %>
  </div>
  <div>
    <strong class="block font-medium mb-1">What You Bring:</strong>
    <%= career.reqs %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Our Culture:</strong>
    <%= career.our_culture %>
  </div>
  <div>
    <strong class="block font-medium mb-1">How To Appluy:</strong>
    <%= career.how_to_apply %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Location:</strong>
    <%= career.location %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Employment type:</strong>
    <%= career.employment_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Salary range:</strong>
    <%= career.salary_range %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Active:</strong>
    <%= career.active? ? "Yes" : "No" %>
  </div>
</div>
