<el-dropdown class="inline-block">
  <button class="cursor-pointer relative inline-flex items-center rounded-md bg-indigo-600 px-4 py-3 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 dark:bg-indigo-500 dark:shadow-none dark:hover:bg-indigo-400 dark:focus-visible:outline-indigo-500"
    type="button"
    aria-haspopup="true"
    aria-expanded="false" >
    Download Sample
    <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="-mr-1 size-5 text-white ms-2">
      <path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
    </svg>
  </button>

  <el-menu
    anchor="bottom end"
    popover
    class="w-56 origin-top-right rounded-md
           bg-white shadow-lg outline outline-1 outline-black/5
           transition
           data-closed:scale-95 data-closed:transform data-closed:opacity-0
           data-enter:duration-100 data-leave:duration-75
           dark:bg-gray-900 dark:shadow-none dark:outline-white/10">

    <div class="py-1">
      <%= link_to pages_export_path(format: :csv, countries: ["US"]),
        target: "_blank",
        class: "block px-4 py-2 text-sm text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-indigo-500" do %>
        United States
      <% end %>

      <%= link_to pages_export_path(format: :csv, countries: ["GB"]),
        target: "_blank",
        class: "block px-4 py-2 text-sm text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-indigo-500" do %>
        United Kingdom
      <% end %>

      <%= link_to pages_export_path(format: :csv, countries: ["CA"]),
        target: "_blank",
        class: "block px-4 py-2 text-smtext-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-indigo-500" do %>
        Canada
      <% end %>

      <%= link_to pages_export_path(format: :csv, countries: ["DE"]),
        target: "_blank",
        class: "block px-4 py-2 text-sm text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-indigo-500" do %>
        Germany
      <% end %>

      <%= link_to pages_export_path(format: :csv, countries: ["AU"]),
        target: "_blank",
        class: "block px-4 py-2 text-sm text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-indigo-500" do %>
        Australia
      <% end %>
    </div>
  </el-menu>
</el-dropdown>
