<!DOCTYPE html>
<html class="bg-white dark:bg-gray-950 scheme-light dark:scheme-dark">
  <head>
    <title><%= content_for(:title) || "Companies list hiring your stack today" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Preline JS -->
    <script type="module">
      import preline from 'https://cdn.jsdelivr.net/npm/preline@3.2.3/+esm'
    </script>

    <!-- Needs to be below javascript_importmap_tags, otherwise Safari gives error -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>

    <!-- Google tag (gtag.js) -->
    <%= render "layouts/google_analytics" %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
    <footer class="bg-white dark:bg-gray-900">
      <div class="mx-auto max-w-7xl overflow-hidden">
        <p class="mb-10 mt-10 text-center text-sm/6 text-gray-600 dark:text-gray-400">&copy; <%= Time.now.year %> Newbury Consulting LLC, Inc. All rights reserved.</p>
      </div>

      <!-- LinkedIn Insight Tag -->
      <%= render "layouts/linkedin_insight_tag" %>
    </footer>

    <!-- Google tag event listener for lead_created -->
    <% if flash[:lead_created] %>
      <script>
        gtag('event', 'generate_lead', {
          value: 1,
          programming_languages: "<%= flash[:programming_languages] %>",
          countries: "<%= flash[:countries] %>",
          frameworks: "<%= flash[:frameworks] %>",
          other_tech_stack: "<%= flash[:other_tech_stack] %>"
        });
      </script>
    <% end %>
  </body>
</html>
